h1 {
	color: red;
	font-size: 50px;
	font-family: 'Arial', sans-serif;
	text-align: center;
}
body { 
	background-color: rgb(100,155,1)
}

div {
	border-width: 10px;
	border-style: ;
	text-align: center;
}

.with_black {
	background-color: black;
}
.tr {background-color: blue;
}

.picture{
	text-align: center;
 }

 .main{text-align:left;}

 .bellend{color: red
 }
.form-group{text-align: center;}

.navbarnavbar-inversenavbar-fixed-top{background-color: blue
 }